.nav-link:active, .nav-link:focus {
    background-color: rgb(77, 171, 230);
    color: white;
  }
  
 .btn {
    background-color: rgb(77, 171, 230);
    color: white;
  }

  .my-image {
    width: 85%;
    height: 140px; 
    
  }

  
  .my-card {
    border: 2px solid #007bff; /* Blauwe rand */
    border-radius: 10px; /* Afgeronde hoeken */
    padding: 10px; /* Verklein de ruimte binnen de kaart */
    margin: 10px; /* Verklein de ruimte buiten de kaart */
    height: 300px; /* Stel de hoogte van de kaart in */
    overflow: auto; /* Voeg een scrollbar toe als de inhoud te lang is */
  }


  